<h1 class="mb-4">Profile Page</h1>
<div class="card">
    <h5 class="card-header">{{user.local.username}}</h5>
    <div class="card-body">
        {{!-- <p class="card-text">ID: {{user.id}}</p> --}}
        {{!-- <p class="card-text">Password: {{user.local.password}}</p> --}}
        {{#if user.local.twitter}}
        	<div class="card text-white bg-primary mb-3">
			    <h5 class="card-header"><i class="fab fa-twitter"></i> Twitter</h5>
			    <div class="card-body text-dark bg-white">
                    <p class="card-text">Twitter: <a href="/twitter">@{{user.local.twitter}}</a></p>
			        <p class="card-text"><a href="/twitter-vis">Twitter Friends Visualisation</a></p>
		       </div>
		    </div>
        {{/if}}
    </div>
</div>